*.psd filter=lfs diff=lfs merge=lfs -text
screencrab/src-tauri/binaries/ffmpeg-x86_64-pc-windows-msvc.exe filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
