:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: white;
  overflow: visible;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: visible;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* App.css */
.background-container {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/cuddlyferris.svg");
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: center left -4rem;
  opacity: 0.3;
  z-index: 1; /* Set a higher z-index to overlay the content container */
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
  z-index: 2; /* Set a lower z-index than the background container */
}

.title {
  color: #8f1e1c;

}

/* Define the blinking animation */
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0;}
}

/* Apply the animation to the element */
.blink {
  animation: blink 1s infinite;
}
